
  <h3>{{this.namePage}}</h3>
  <div>
  <h4>Carritos</h4>

  </div>
<div class="container d-flex flex-wrap ">
  {{#each carts}}
    <div class="m-4 border border-light p-1 ">
      <li>Id: {{this._id}}</li>
      <li>Prods: {{this.products}}</li>

    </div>
    <hr />

  {{/each}}
</div>
