
  <h3>{{this.msg}}</h3>
  

 
<div class="container d-flex flex-wrap ">
  {{#each prods}}

  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/testing-sockets.js"></script>