<div class="container d-flex flex-column bg-success " style="height:300px;justify-content:center;align-items:center">
  <div class=" d-flex" style="height:300px;justify-content:center;align-items:center">
    Register
  </div>
  {{#if msg}}
  <div>{{msg}}</div>
  {{/if}}
  <form action="/api/session/register" method="POST">
    <div class="form-group " style="width: 500px;">
      <label for="first_name">First Name:</label>
      <input type="text" class="form-control" id="first_name" name="first_name" required>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name:</label>
      <input type="text" class="form-control" id="last_name" name="last_name" required>
    </div>

    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mt-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
  <div></div>
  <button onclick="location.href = '/api/session/login'">Login</button>
</div>